*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: font-family-primary;
}

.burger-btn > span,
.burger-btn > span::before,
.burger-btn > span::after {
  top: 47%;
  display: block;
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: black;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.burger-btn > span::before {
  content: '';
  top: -6px;
}

.burger-btn > span::after {
  content: '';
  top: 6px;
}

#burger-toggle:checked ~ .burger-btn {
  transition: .2s ease-in-out;
}

#burger-toggle:checked ~ .burger-btn > span {
  transform: rotate(45deg);
  transition: .2s ease-in-out;
}

#burger-toggle:checked ~ .burger-btn > span::before {
  top: 0;
  transition: .2s ease-in-out;
  transform: rotate(0);
}

#burger-toggle:checked ~ .burger-btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition: .2s ease-in-out;
}

.header-wrap__sidebar {
  position: absolute;
}

.header-wrap__sidebar-list {
  position: absolute;
  list-style: none;
  padding-left: 0;
  width: 120px;
  left: 0;
  top: 0;
  background: rgba(120, 120, 120, .95);
  opacity: 0;
}

.header-wrap__sidebar-list-item {
  padding: 4px 6px;
  border-bottom: 1px solid grey;
}

.header-wrap__sidebar-list-item > a {
  text-decoration: none;
  color: white;
}

#burger-toggle:checked ~ .header-wrap__sidebar > .header-wrap__sidebar-list {
  opacity: 1;
  top: 18px;
  transition: .3s ease-in-out;
}

.mobile__menu_list {
  padding-left: 0;
  width: 200px;
  list-style: none;
  font-family: Montserrat;
  border: 1px solid rgba(0, 0, 0, .3);
  background: aliceblue;
  transition: .3s ease-in-out;
  border-radius: 4px;
  -webkit-box-shadow: 10px 14px 22px -2px rgba(0,0,0,0.17);
  -moz-box-shadow: 10px 14px 22px -2px rgba(0,0,0,0.17);
  box-shadow: 10px 14px 22px -2px rgba(0,0,0,0.17);
}

.burger-btn {
  padding-left: 23px;
}

.header-wrap {
  min-width: 330px;
}

#burger-toggle {
  display: none;
}

.header-wrap__nav {
  position: relative;
  display: flex;
  padding: 18px 0;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 330px;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.45);
  box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.45);
}

.header-wrap__nav-link:last-of-type {
  position: relative;
  padding-right: 23px;
}

.header-wrap__main-title {
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: .75;
  font-size: 33px;
  margin-bottom: 20px;
}

.header-wrap__main-title > span {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  line-height: .75;
  font-size: 14px;
}

.shop-num {
  padding: 2px 6px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  color: white;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  transform: translate(-45%, 100%);
}

/* Slider */

.slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 330px;
}

.slider-img {
  width: 330px;
  height: 438px;
}

.slider__wrapper {
  position: relative;
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}


.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  right: 55px;
  top: 365px;
  z-index: 20;
}

.slider__control_right {
  right: 15px;
  top: 365px;
  z-index: 20;
}

.slider__control_right:hover {
  background-color: rgba(255, 255, 255, .3);
}

.slider__control_left:hover {
  background-color: rgba(255, 255, 255, .3);
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__control_right:hover::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__control_left:hover::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__item-info {
  position: absolute;
  padding-left: 15px;
  top: 0;
  z-index: 20;
  width: 330px;
}

.slider-button {
  padding: 14px;
  margin-top: 86px;
  width: 132px;
  height: 45px;
  outline: none;
  border: none;
  box-shadow: 0 2px 12px rgba(227, 10, 23, 0.5);
  background-color: #e30a17;
  cursor: pointer;
}

.slider-button::after {
  content: '';
  display: inline-block;
  width: 130px;
  height: 1px;
  color: #e30a17;
}

.slider-title {
  font-size: 24px;
  color: white;
  text-align: start;
  margin-bottom: 12px;
}

.slider-text {
  font-size: 14px;
  color: white;
  text-align: start;
}

.slider-info-text {
  width: 280px;
  height: auto;
  font-size: 14px;
  color: white;
  text-align: start;
  max-height: 100px;
  overflow: hidden;
}

.fade {
  background-color: black;
  position: absolute;
  width: 330px;
  height: 438px;
  top: 0;
  opacity: .3;
  z-index: 10;
}

.main-wrap {
  margin: 34px auto 0;
  display: flex;
  flex-wrap: wrap;
  width: 330px;
}

.main-wrap-img {
  width: 11px;
  height: 23px;
}

.main-wrap-button {
  margin: 0 auto 32px;
  width: 290px;
  outline: none;
  background-color: white;
  border: 2px solid #e30a17;
  color: #e30a17;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px;
}

.main-wrap-title {
  text-transform: uppercase;
  padding-left: 10px;
  margin-top: 2px;
}

.heart {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 22px;
  height: 19px;
}

.arrows {
  width: 23px;
  height: 19px;
  position: absolute;
  right: 19px;
  top: 63px;
}

.product {
  margin: 40px auto 0;
  width: 245px;
  height: auto;
  max-height: 290px;
  overflow: hidden;
}

.main-wrap__products-item {
  position: relative;
  width: 260px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.main-wrap__products > div {
  padding-top: 20px;
  margin: 0 20px 20px;
}

.main-wrap__products-item-button {
  width: 245px;
  margin: 0 auto 10px;
  padding: 8px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #e30a17;
  border: none;
  outline: none;
  cursor: pointer;
}

.discount {
  position: absolute;
  width: 93px;
  font-size: 10px;
  text-align: center;
  top: 4px;
  left: 42px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e30a17;
}

.prices {
  display: flex;
}

.prices > p {
  margin: 0 13px 0 0;
  font-weight: bold;
}

.prices > s > span {
  font-weight: bold;
  color: #e30a17;
}

.main-wrap__products {
  display: flex;
  position: relative;
  overflow-x: auto;
  margin-bottom: 54px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #e30a17;
  border-radius: 6px;
}

.main-wrap__new-products {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-x: auto;
  margin-bottom: 54px;
}

.main-wrap-title > span {
  color: #e30a17;
  text-transform: uppercase;
}

.adv-layout {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px auto 0;
  width: 245px;
  height: 110px;
  background-color: #f6f6f6;
}

.advantages {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.products-advantages-title {
  text-align: center;
  margin: 21px 0;
}

.products-advantages-text {
  text-align: center;
  margin-top: 0;
  padding: 0 15px;
  font-size: 12px;
  max-height: 88px;
  overflow: hidden;
  margin-bottom: 32px;
}

.news-wrap {
  width: 330px;
}

.news-wrap__item {
  width: 290px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .2);
}

.news-wrap__item-date-wrap {
  display: flex;
}

.news-wrap__item-title {
  padding-left: 20px;
  margin-bottom: 54px;
}

.news-wrap__item-button {
  text-transform: uppercase;
  margin: 20px 0 0 20px;
  color: white;
  background-color: #e30a17;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
}

.news-wrap__item > p {
  padding: 0 20px 0 20px;
  margin: 0;
}

.news-wrap__item-date-wrap {
  margin: 28px 0 20px 20px;
}

.news-wrap__item-date-wrap > img {
  width: 15px;
  height: 16px;
}
.news-wrap__item-date-wrap > p {
  margin: 0 0 0 8px;
}

.footer-wrap {
  width: 330px;
}

.footer-wrap__main-title {
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: .75;
  font-size: 33px;
  margin-bottom: 20px;
}

.footer-wrap__main-title > span {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  line-height: .75;
  font-size: 14px;
}
.footer-wrap__main-title {
  margin: 40px auto;
}

.footer-wrap__contacts {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

.footer-wrap__contacts-num {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrap__contacts-num > a  {
  text-decoration: none;
  color: black;
  padding-bottom: 6px;
}

.footer-wrap__contacts-mail {
  margin-top: 14px;
  display: flex;
  justify-content: center;
}

.footer-wrap__contacts-mail > a {
  text-decoration: none;
  color: black;
}

.footer-wrap__adress {
  text-align: center;
}

.footer-wrap-shop__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

.footer-wrap-shop__title-list {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  list-style: none;
}

.footer-wrap-shop__title-list-item {
  padding-bottom: 8px;
}

.footer-wrap-shop__title-list-item > a {
  text-decoration: none;
  color: black;
}

.footer-form > h5 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
  color: #e30a17;
}

.footer-form > p {
  padding: 0 20px;
}

.footer-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-input {
  padding: 10px 10px ;
  width: 290px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  background: url(./img/input.png) no-repeat right;
}

.btn-wrap {
  width: 330px;
}

.button {
  margin-left: 170px;
  margin-top: 20px;
  outline: none;
  margin-bottom: 38px;
  text-transform: uppercase;
  background: none;
  border: 2px solid rgba(0, 0, 0, .3);
  padding: 14px 28px;
}

.company {
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company > img {
  margin-bottom: 20px;
  margin-top: 15px;
}

.company > p {
  font-size: 14px;
  opacity: .6;
  margin-bottom: 0;
  margin-top: 25px;
}